<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
<title>About</title>
</head>
<body>

<div class="main-content">
    <h1>{{>header}}</h1>
    <p>{{createdby}}</p>
    <img src="/img/wp6605362.jpg"></img>
</div>

{{>footer}}
</body>
</html>