<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/clientjs.js"></script>
<title>Weather</title>
</head>
<body>

<div class="main-content">
    {{>header}}
    <p>Use this site to get data of all weather!</p>
</div>

{{>footer}}

</body>
</html>