<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
<title>Weather</title>
</head>
<body>

<div class="main-content">
    {{>header}}
    <p>Use this site to get data of all weather!</p>

    <form>
        <input id="location" placeholder="Location">
        <button id="searchBtn">Search</button>
    </form>

    <p id="message-1"></p>
    <p id="message-2"></p>
</div>

{{>footer}}
    <script src="/js/clientjs.js"></script>
    <script>
 {{!-- const weatherForm = document.querySelector('form')
const search = document.querySelector('input')
const messageOne = document.querySelector('#message-1')
const messageTwo = document.querySelector('#message-2')

weatherForm.addEventListener('submit', (e) => {
    e.preventDefault()

    const location = search.value

    messageOne.textContent = 'Loading...'
    messageTwo.textContent = ''

    fetch('http://localhost:3000/weather?address=' + location).then((response) => {
        response.json().then((data) => {
            if (data.error) {
                messageOne.textContent = data.error
            } else {
                messageOne.textContent = data.location
                messageTwo.textContent = data.forecast
            }
        })
    })
}) --}}

    </script>


</body>
</html>